################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Time-Series-Classification/Multivariate/Multivariate_arff
/data
*.pkl
*.pbs*
*.cpython-39.pyc
*.so
*.o
*.pyc